        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        
         :root {
            --background-color: black;
        }
        
        html {
            box-sizing: border-box;
            height: 100%;
        }
        
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: var(--background-color);
            font-family: 'Josefin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #E1E1E1;
            font-size: 100%;
            line-height: 1.5;
        }
        
        header {
            background: radial-gradient(50% 50% at 50% 50%, #4B4069 0%, #2A0C4E 100%);
            text-align: center;
            position: absolute;
            width: 100%;
            height: 202px;
        }
        
        .logo {
            position: relative;
            width: 269px;
            height: 72px;
            top: 54px;
        }
        
        Nav {
            position: absolute;
            top: 100%;
            background: #4B4069;
            width: 100%;
            display: none;
        }
        
        nav ul {
            /*display: flex;*/
            justify-content: center;
            list-style: none;
        }
        
        nav li {
            margin-right: 3em;
        }
        
        nav a {
            color: #E1E1E1;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
        }
        
        nav a:hover {
            color: rgba(225, 225, 225, 0.6);
        }
        
        .nav-toggle:checked~nav {
            display: block;
        }
        
        .nav-toggle {
            display: none;
        }
        
        .nav-toggle-label {
            position: absolute;
            width: 15px;
            height: 10px;
            left: 85%;
            top: 158px;
        }
        
        .nav-toggle-label span,
        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            display: block;
            background: #FBFEF9;
            height: 2px;
            width: 1em;
            border-radius: 2px;
            position: relative;
        }
        
        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            content: '';
            position: absolute;
        }
        
        .nav-toggle-label span::before {
            bottom: 5px;
        }
        
        .nav-toggle-label span::after {
            top: 5px;
        }